html, body {
    background-color: black;
    margin: 10px;
    padding: 15px;
  }
  
  /* .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1px;
  } */
  
  .container {
    background-color: blue;
    color: red;
    }
  
 .card-header{
      color: blue;
      font-weight: bold;
      font-size: 1vw;
  }
 
  
  .form-group {
    margin: 3px;
  }
   
 
.jumbotron {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-size: 1vw;
    align-items: center;
    color: blue;
    font-weight: bolder;
    /* width: 300px; */
}

  #currentTrainSchedule {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1vw;
  }
  
  #addTrain {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    font-size: 1vw;
  }

